
blockquote {
  background: #eafff4;
  color: #2d3330;
  font-style: italic;
  margin: 20px 0;
}

img {
  border: 3px solid var(--accent);
}

.post-cover {
  border: 4px dotted var(--accent);
  margin: 0;
  padding: 2px;
}

.post-title {
  margin: 0 auto 5px !important;
}

.post-content {
  font-size: 1.1rem;
}

.post-date {
  font-weight: bold;
  font-size: 1.3rem;
}

.video-container iframe {
  border:0;
  max-width: 600px;
  max-height: 338px;
  width: 100%;
  height: 50vh;
}
